@font-face{
    font-family: "roboto";
    src: url(./Font/Roboto-Regular.ttf)
}

html, body {
    margin: 0;
    min-height: 100vh;
    font-family: 'roboto','Courier New', Courier, monospace;
    
}

body{
    display: flex;
    flex: auto;
    background-color: rgb(24, 8, 8);
    color: white;
    box-sizing:border-box;
}

img{
    max-width: 100%;
    height: auto;
}

div{
    /* border: 1px solid pink */
}

form{
    border: none;
    height: 100%;
    width: auto;
}

fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

label{
    padding-left: 1.2%;
}




#container{
    display: flex;
    justify-content: center;
    min-width: 100vw;
}

#background{
    display: flex;
    justify-content: center;
    flex: 0 1 40vw;
    min-width: 35vw;
}

#image{
    margin: 0px auto;
    background-image: url(./images/thelema.png);
    position: relative;
    background-size: cover;
    background-position: 30% 0%;
    background-repeat: no-repeat;
    width: 100%;
}

/* LOGIN PAGE */

#page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 60vw;
    min-width: 55vw;
}

#info_container{
    display: flex;
    flex-direction: column;
    font-size: clamp(2rem,2.4vw,9rem);
    flex: 0 0 75%;
}

#detail_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(3rem,4vw,9rem);
    font-weight: bold;
    padding: 5% 5% 5% 5%;
}

#detail_info{
    display: flex;
    flex-direction: column;
    flex: auto;
}

#infos{
    height: 100%;
    box-sizing:border-box;
    background-color: rgb(176, 49, 75);

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content: space-around;
    flex: auto;

    gap: 25px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
}

.form_fill{
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: nowrap;
    flex: auto;

    gap: 10px;
    padding: 20px;
    font-size: clamp(1rem,2.3vw,7rem);
    min-width: 150px;
    width: 40%;
}

input{
    border: none;
    background: transparent;
    padding: 1.5% 2% 1.5% 2%;
    font-size: clamp(0.5rem,1.6vw,4rem);
    width: 100%;
    max-width: 1500px;
    color: white;
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(0.5rem,1vw,4rem);
    padding: 5%;
    gap: 1em;
    flex: auto;
}

#sumbit_button{
    font-size: clamp(1.5rem,2vw,9rem);
    background: rgb(176, 49, 75);
    color: white;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 0.5rem;
}

